/* Custom page CSS
-------------------------------------------------- */
#message
  max-height: 100px
  overflow-y: scroll!important
  resize: none!important

.panel-body
  padding: 10px 10px 0 10px

.panel-heading
  padding: 5px 10px

img.emoji
  height: 18px

blockquote img.emoji
  height: 22px

h1>img.emoji
  height: 33px

h2>img.emoji
  height: 32px

h3>img.emoji
  height: 25px

h4>img.emoji
  height: 16px

h5>img.emoji
  height: 14px

h6>img.emoji
  height: 11px

.show-hide-icon
  margin-right: 10px

.hand
  cursor: pointer

.logo-img
  margin-right: 3px
  margin-top: -3px
  width: 16px
  height: 16px

table.separator
  width: 100%
  td > hr
    border-top: 1px dashed #a0a0a0
  td:nth-child(2)
    width: 1px
    padding: 0 10px
    white-space: nowrap
    color: #a0a0a0