/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: 60px;
  background-color: rgb(245, 245, 245);
  background-color: rgba(245, 245, 245, 0.4);
}


/* Custom page CSS
-------------------------------------------------- */
.container {
  width: auto;
  max-width: 1200px;
  padding: 0 15px;
}

#message {
  max-height: 100px;
  overflow-y: scroll!important;
  resize: none!important;
}
/* http://subtlepatterns.com/
body {
  background-image: url('images/tile.png');
  background-repeat:repeat;
  background-color: #656565;
}
*/

.panel-body {
  padding: 10px;
}
.panel-heading {
  padding: 5px 10px;
}
img.emoji {
  height: 18px;
}
blockquote img.emoji {
  height: 22px;
}
h1>img.emoji {
  height: 33px;
}
h2>img.emoji {
  height: 32px;
}
h3>img.emoji {
  height: 25px;
}
h4>img.emoji {
  height: 16px;
}
h5>img.emoji {
  height: 14px;
}
h6>img.emoji {
  height: 11px;
}
.show-hide-icon {
  margin-right: 10px;
}
.hand {
  cursor: pointer;
}
.logo-img {
  margin-right: 3px;
  margin-top: -3px;
  width: 16px;
  height: 16px;
}