/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: 60px;
  background-color: rgb(245, 245, 245);
  background-color: rgba(245, 245, 245, 0.4);
}


/* Custom page CSS
-------------------------------------------------- */
.container {
  width: auto;
  max-width: 1200px;
  padding: 0 15px;
}

#message {
  max-height: 100px;
  overflow-y: scroll!important;
  resize: none!important;
}
/* http://subtlepatterns.com/
body {
  background-image: url('images/tile.png');
  background-repeat:repeat;
  background-color: #656565;
}
*/